*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_div{
    border: 2px solid rgb(182, 182, 182);
    max-width: 1000px;
    margin: auto;
    margin-top: 10px;
}

.buttons_div{
    display: flex;
    border-bottom: 2px solid rgb(182, 182, 182);
    background-color: rgb(236, 236, 236);
}

button{
    background-color: rgb(236, 236, 236);
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px;
    transition: .3s;
    cursor: pointer;
}



button:hover{
    background-color: rgb(182, 182, 182);
}

button:focus{
    background-color: rgb(182, 182, 182);
}

.text{
    padding: 10px;
    display: none;
}

.active{
    display: block;
}

.gray{
    background-color: rgb(182, 182, 182);
}